@import 'components/editable_text';
@import 'components/save_or_delete_btns';
@import 'components/sm_remove_btn';
@import 'components/panel_footer_btn';
@import 'components/question';
@import 'components/answer';

.no-margin {
  margin: 0;
}

.btn {
  transition: $base-transition;
}

.cancel {
  font-size: 16px;
  color: darken($gray-lighter, 15%);
  font-weight: 300;
  cursor: pointer;
  vertical-align: middle;
  transition: $base-transition;

  &:hover {
    color: darken($gray-lighter, 30%);
  }
}

.list-group-item {
  transition: $base-transition;
}

.table-hover{
  tbody {
    tr {
      transition: $base-transition;
      cursor: pointer;
    }
  }
}

.hover-dark-bg {
  transition: all 0.3s ease;
  background-color: $gray-lightest;
  cursor: pointer;
  color: $gray-lighter;

  &:hover {
    background-color: darken($gray-lightest, 5%);
  }

}

.collapsed {
  height: 0;
  overflow: hidden;
  box-shadow: none;
  border: none;
  transition: all 0.3s ease;
}
