@import 'components/editable_text';
@import 'components/save_or_delete_btns';
@import 'components/question';

.no-margin {
  margin: 0;
}

.cancel {
  font-size: 16px;
  color: darken($gray-lighter, 15%);
  font-weight: 300;
  cursor: pointer;
  vertical-align: middle;
  transition: all 0.3s ease;

  &:hover {
    color: darken($gray-lighter, 30%);
  }
}

$hover-dark-bg: #f9f9f9;

.hover-dark-bg {
  transition: all 0.3s ease;
  background-color: $hover-dark-bg;
  cursor: pointer;
  color: darken($hover-dark-bg, 25%);

  &:hover {
    background-color: darken($hover-dark-bg, 5%);
  }

}

.collapsed {
  height: 0;
  overflow: hidden;
  box-shadow: none;
  border: none;
  transition: all 0.3s ease;
}
