.Entry--score-progress-bar {
  position: absolute;
  top: 64px;
  left: 0;
  height: 10px;
  background-color: rgb(239,154,154);
  transition: width 0.5s ease;
}

.Entry--score-progress-bar.entry {
  background-color: rgb(183,162,97);
}

.Entry--game-name {
  color: #b7a261;
  margin-bottom: 0;
}

.Entry--title-container {
  margin-bottom: 50px;
}

@media(min-width: 668px) {
  .Entry--title-container {
    display: flex;
    align-items: center;
  }
}

.Entry--title-container .PageHeading {
  margin-bottom: 25px;
}

@media(min-width: 668px) {
  .Entry--title-container .PageHeading {
    margin-bottom: 0;
  }
}

.Entry--score {
  margin-bottom: 0;
  margin-top: 0;
  color: #b7a261;
  border: 1px solid #b7a261;
  padding: 20px;
  white-space: nowrap;
}

.Entry__status {
  display: flex;
  align-items: center;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  font-weight: 700;
}

.Entry__status--complete {
  color: #689F38;
  padding: 0;
}

.Entry__status--incomplete {
  background-color: hsl(0, 79%, 95%);
  color: #D32F2F;
  border: 1px solid #D32F2F;
}

.Entry__status--icon {
  margin-right: 10px;
}

.Entry__status--warning-icon {
}

.Entry--group-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  color: #757575;
}

.Entry--group-link:hover {
  filter: brightness(75%);
}

.Entry--completion-progress {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0);
  z-index: 2;
}