.Entry--game-name {
  color: #757575;
  margin-bottom: 0;
}

.Entry--title-container {
  display: flex;
  align-items: center;
}

.Entry--score {
  margin-bottom: 0;
  margin-top: 0;
  color: #b7a261;
}

.Entry--incomplete {
  color: #D32F2F;
}

.Entry--group-link {
  font-size: 12px;
  display: block;
  color: #b7a261;
  text-decoration: none;
  text-transform: uppercase;
  transform: translateY(-12px);
}

.Entry--group-link:hover {
  filter: brightness(75%);
}
