.NomineesGrid {
  display: flex;
  flex-wrap: nowrap;
  padding: 8px;
  overflow-y: visible;
  align-items: center;
}

.NomineesGrid--list {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.NomineesGrid--list::-webkit-scrollbar {
  display: none;
}