.NomineesGrid {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  overflow-y: visible;
}

.NomineesGrid--list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 0 -16px;
  -webkit-overflow-scrolling: touch;
}

.NomineesGrid--list::-webkit-scrollbar {
  display: none;
}