.EntriesTable {
  padding-top: 80px;
  overflow: auto;
}

.EntriesTable--table {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  padding-top: 97px;
  overflow-x: auto;
}

.EntriesTable--table-header {
  font-size: 12px;
  display: table-header-group;
  vertical-align: middle;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.EntriesTable--table-header-row {
  display: table-row;
}

.EntriesTable--headerCol {
  display: table-cell;
  padding: 0 24px;
  height: 48px;
  font-weight: normal;
  color: rgb(158, 158, 158);
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}

.EntriesTable--headerCol-diagonal {
  width: 5px;
  transform: rotate(-45deg);
  transform-origin: 30px 31px;;
  padding: 0 13px;
}

.EntriesTable--headerCol-avatar {
  width: 40px;
  padding: 0 5px;
}

.EntriesTable--headerCol-entry-name {
  width: 125px;
}

.EntriesTable--headerCol-rank {
  width: 5px;
  padding: 0 5px;
}

.EntriesTable--headerCol-score {
  width: 50px;
  padding: 0 15px;
}

.EntriesTable--table-body {
  display: table-row-group;
  vertical-align: middle;
  border-collapse: collapse;
}

.EntriesTable--row {
  display: table-row;
  cursor: pointer;
  height: 48px;
  border-bottom: 1px solid rgb(224, 224, 224);
  transition: background-color 0.3s ease;
}

.EntriesTable--row:hover {
  background-color: rgb(245, 245, 245);
}

.EntriesTable--col {
  display: table-cell;
  padding: 0 24px;
  height: 48px;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.EntriesTable--col-score {
  padding: 0 15px;
  border-right: 1px #E0E0E0 solid;
}

.EntriesTable--col-category{
  border-right: 1px #E0E0E0 solid;
  min-width: 49px;
  padding: 0;
}

.EntriesTable--col-correct{
  background-color: rgba(183, 162, 97, 0.4);
  border-right: 1px #b7a261 solid;
  border-bottom: 1px #b7a261 solid;
}

.EntriesTable--col-incorrect{
  background-color: #FFCDD2;
  border-right: 1px #EF9A9A solid;
  border-bottom: 1px #EF9A9A solid;
}

.EntriesTable--col-avatar {
  width: 40px;
  padding: 0 5px;
}

.EntriesTable--avatar {
  margin-top: 4px;
}

.EntriesTable--col-entry-name {
}

.EntriesTable--entry-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.EntriesTable--user-name {
  font-size: 10px;
  color: rgb(158, 158, 158);
}

.EntriesTable--col-rank {
  width: 5px;
  padding: 0 5px;
}

.EntriesTable--entry-complete-indicator {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #D32F2F;
}

.EntriesTable--entry-complete-indicator-complete {
  background-color: #689F38;
}

.EntriesTable--legend-icon {
  padding: 5px;
  font-size: 12px;
}

.EntriesTable--legend-icon:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.EntriesTable--legend-icon-complete:before {
  background-color: #689F38;
}

.EntriesTable--legend-icon-incomplete:before {
  background-color: #D32F2F;
}
