.EntriesTable {
  padding-top: 80px;
  overflow: auto;
}

.EntriesTable--table {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  padding-top: 97px;
  overflow-x: auto;
}

.EntriesTable--table-header {
  font-size: 16px;
  display: table-header-group;
  vertical-align: middle;
}

.EntriesTable--table-header-row {
  display: table-row;
  border-bottom: 3px solid rgba(245, 245, 245, 0.9);
}

.EntriesTable--headerCol {
  display: table-cell;
  font-weight: bold;
  color: rgb(158, 158, 158);
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  padding-right: 30px;
  padding-bottom: 10px;
  vertical-align: bottom;
}

.EntriesTable--headerCol-diagonal {
  text-align: left;
  width: 150px;
  transform-origin: 30px 31px;
  vertical-align: bottom;
  overflow: hidden;
  white-space: normal;
}

.EntriesTable--headerCol-avatar {
  width: 40px;
  padding-right: 10px;
}

.EntriesTable--headerCol-entry-name {
  width: 125px;
}

.EntriesTable--headerCol-rank {
  width: 35px;
  padding-right: 10px;
}

.EntriesTable--headerCol-score {
  width: 90px;
  padding-right: 10px;
}

.EntriesTable--table-body {
  display: table-row-group;
  vertical-align: middle;
  border-collapse: collapse;
}

.EntriesTable--row {
  display: table-row;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-bottom: 1px solid rgba(245, 245, 245, 0.9);
}

.EntriesTable--row:hover {
  background-color: rgba(245, 245, 245, 0.9);
}

.EntriesTable--col {
  display: table-cell;
  height: 48px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 30px 10px 0;
}

.EntriesTable--col-score {
  padding-right: 10px;
}

.EntriesTable--col-category {
  text-align: left;
  white-space: normal;
}

.EntriesTable--col-correct {
  color: #b7a261;
  font-weight: bold;
}

.EntriesTable--col-incorrect {
  color: #ef9a9a;
  text-decoration: line-through;
}

.EntriesTable--col-avatar {
  padding-right: 10px;
}

.EntriesTable--avatar {
  margin-top: 4px;
}

.EntriesTable--col-entry-name {
}

.EntriesTable--entry-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.EntriesTable--user-name {
  font-size: 12px;
  color: rgb(158, 158, 158);
}

.EntriesTable--col-rank {
  text-align: right;
  padding-right: 10px;
  font-weight: bold;
}

.EntriesTable--legend {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.EntriesTable--legend-icon {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-right: 10px;
}

.EntriesTable__status-icon {
  margin-right: 5px;
}
