.EntriesTable {
  margin-top: 50px;
}

.EntriesTable--table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

.EntriesTable--header {
  font-size: 12px;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.EntriesTable--headerRow {
  height: 48px;
}

.EntriesTable--headerCol {
  padding: 0 24px;
  height: 48px;
  font-weight: normal;
  color: rgb(158, 158, 158);
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}

.EntriesTable--col.avatar {
  width: 40px;
  padding: 0 5px;
}

.EntriesTable--avatar {
  margin-top: 4px;
}

.EntriesTable--col.rank {
  width: 5px;
  padding: 0 15px;
}

.EntriesTable--headerCol.avatar {
  width: 40px;
  padding: 0 5px;
}

.EntriesTable--headerCol.rank {
  width: 5px;
  padding: 0 15px;
}

.EntriesTable--row {
  cursor: pointer;
  height: 48px;
  border-bottom: 1px solid rgb(224, 224, 224);
  transition: background-color 0.3s ease;
}

.EntriesTable--row:hover {
  background-color: rgb(245, 245, 245);
}

.EntriesTable--col {
  padding: 0 24px;
  height: 48px;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.EntriesTable--entry-complete-indicator {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #D32F2F;
}

.EntriesTable--entry-complete-indicator.complete {
  background-color: #689F38;
}

.EntriesTable--legend span {
  padding: 5px;
  font-size: 12px;
}

.EntriesTable--legend span:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.EntriesTable--legend span.complete:before {
  background-color: #689F38;
}

.EntriesTable--legend span.incomplete:before {
  background-color: #D32F2F;
}
