.Category {
  margin-bottom: 32px;
  transition: all 0.3s ease !important;
  box-shadow: none !important;
  margin-left: -16px;
  margin-right: -16px;
}

.Category--selected {
  box-shadow: none !important;
}

.Category--correct {
  background-color: rgba(183, 162, 97, 0.4) !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 10px, rgba(0, 0, 0, 0.3) 0px 4px 8px !important;
}

.Category--incorrect {
  background-color: rgba(244, 67, 54, 0.3) !important;
  box-shadow: none !important;
}