.Category {
  margin-bottom: 32px;
  transition: all 0.3s ease !important;
  box-shadow: none !important;
  margin-left: -16px;
  margin-right: -16px;
}

.Category__status-icon {
  flex: 0 0 auto;
  width: 30px !important;
  height: 30px !important;
  margin-right: 5px !important;
}