.answer {
  border-top: none;
  position: relative;
  transition: all 0.3s ease;

  .right-centered {
    position: absolute;
    right: 1rem;
    top: 1.25rem;
  }

  .glyphicon-record {
    color: $brand-primary;
  }

  .glyphicon-ok {
    color: $brand-success;
  }

  .glyphicon-remove {
    color: $brand-danger;
  }

  &>div {
    width: calc(100% - 1em);
  }

  &.selected, &.list-group-item:focus {
    color: $brand-primary;
    background-color: lighten($brand-primary, 40%);
  }

  &.selected {
    font-weight: 700;
    font-size: $font-size-large;
    color: $brand-primary;
    padding: 20px 15px;

    .right-centered {
      top: 2.25rem;
    }

    &.correct {
      color: $brand-success;
      background-color: lighten($brand-success, 35%);
    }

    &.incorrect {
      color: $brand-danger;
      background-color: lighten($brand-danger, 35%);
    }
  }

}
