.answer {
  border-top: none;
  position: relative;
  transition: all 0.3s ease;

  .right-centered {
    position: absolute;
    right: 1rem;
    top: 0.8rem;
  }

  svg {
    float: right;
    fill: currentColor;
    margin-top: 0.25em;
  }

  &.list-group-item {
    border: none;
    border-radius: 0;
  }

  &>div {
    width: calc(100% - 1em);
  }

  &.selected, &.list-group-item:focus {
    color: $brand-primary;
    background-color: lighten($brand-primary, 40%);
    border-radius: 0;
  }

  &.selected {
    font-weight: 500;
    font-size: $font-size-large;
    color: $brand-primary;
    padding: 20px 15px;

    .right-centered {
      top: 2.25rem;
    }

    &.correct {
      color: $brand-success;
      background-color: lighten($brand-success, 25%);
    }

    &.incorrect {
      color: $brand-danger;
      background-color: lighten($brand-danger, 32%);
    }
  }

  &.actual {
    font-weight: 700;
    text-decoration: line-through;
  }

}
