.answer {
  border-top: none;
  position: relative;
  .glyphicon {
    position: absolute;
    right: 1rem;
    top: 1.25rem;
  }
  .glyphicon-record {
    color: $brand-primary;
  }
  &>div {
    width: calc(100% - 1em);
  }

  &.selected, &.list-group-item:focus {
    background-color: lighten($brand-primary, 40%);
    padding: 15px 15px;

    .glyphicon {
      top: 1.75rem;
    }
  }

}
