.legend {
  display:flex;
  align-items: center;
  padding: 0.5rem 0;

  .color-square {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 0.5rem;
  }

  .text {
    font-size: 0.8rem;
    font-weight: 300;
  }
}

.flex-table {

  .table-row {
    padding: 0.5rem;
    border-bottom: 1px solid $gray-lightest;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      background-color: $gray-lightest;
    }

    &.no-hover {
      cursor: default;

      &:hover {
        background-color: transparent;
      }
    }

    &.heading {
      cursor: default;
      padding: 0.5rem;
      font-size: 0.8rem;
      font-weight: 300;
      color: $gray;
      border-bottom: 3px solid $gray-lightest;

      &:hover {
        background: none;
      }
    }

    @include media-breakpoint-up(sm) {
      display: flex;
      align-items: center;
    }

    &.highlighted {

      position: relative;
      background: linear-gradient(to right, white, lighten($brand-primary, 35%));
      color: $brand-primary;
      z-index: 0;

      &:before {
        transition: all 0.5s ease;
        content: '';
        opacity: 0;
        position: absolute;
        background: linear-gradient(to top right, lighten($brand-primary, 35%), lighten($brand-primary, 35%));
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
      }

      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }

    .table-sub-row {
      display: flex;
    }

    .table-cell {
      flex: 1;

      &.success {
        color: $brand-success;
      }

      &.danger {
        color: $brand-danger;
      }
    }

    .emphasized {
      font-weight: 500;
    }

    .secondary-text {

      font-size: 0.8rem;
      color: $gray-light;
      padding-top: 0.75rem;

      @include media-breakpoint-up(sm) {
        font-size: 1rem;
        padding-top: 0;
      }

      .entry-score {
        color: $gray-dark;
      }

    }
  }
}

.entries-list {

  .username {
    font-size: 0.8rem;
    color: $gray-light;
  }

  .rank {
    margin-right: 1em;
    position: relative;

    &.up, &.down {
      &::before {
        content: '';
        position: absolute;
        transform: translateY(-50%);
        left: -15px;
        top: 50%;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
      }
    }

    &.up {
      &::before {
        border-bottom: 5px solid $brand-success;
      }
    }

    &.down {
      &::before {
        border-top: 5px solid $brand-danger;
      }
    }

  }

  .movement-icon {
  }
}

