.navbar {
  display: flex;
  align-items: center;
  font-weight: 500;

  p {
    margin: 0;
  }

  .navbar-right{
    margin-left: auto;

    .dropdown-menu {
      left: auto;
      right: 0;
    }
  }

  .create-entry.nav-link {
    color: $brand-primary;
  }


  .dropdown-link {
    font-size: 0.8em;
    color: $gray-base;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: darken($gray-base, 20%);
    }
  }
}

