.question {
  .panel-heading {
    position: relative;
    h4 {
      display: inline-block;
      width: calc(100% - 1.5rem);
    }
    .remove {
      position: absolute;
      top: 1rem;
      right: 1rem;
      color: white;
    }
    &:hover {
      &>.remove {
        visibility: visible;
        opacity: 1;
        margin-left: 1rem;
      }
    }
  }
  .list-group-item {
    border-color: $gray-lightest;
    &:hover {
      .remove {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
