.question {
  .panel-heading {
    position: relative;
    h4 {
      display: inline-block;
      width: calc(100% - 1.5rem);
    }
    .remove {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
    &:hover {
      &>.remove {
        display: inline-block;
        margin-left: 1rem;
      }
    }
  }
  .list-group-item {
    border: none;
    border-radius: 0;
    &:hover {
      .remove {
        display: block;
      }
    }
  }
}
