.card-deck {
  .question {
    flex-basis: 30%;
    margin: 1rem;
  }
}
.question {

  .card-header {
    position: relative;

    h5 {
      margin-bottom: 1.5rem;
    }

    h6 {
      display: inline-block;
      width: calc(100% - 1.5rem);
    }

    .remove {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }

    .btn-primary {
      background-color: $gray-base;
      border-color: $gray-dark;

      &:hover {
        background-color: darken($gray-base, 5%);
        border-color: darken($gray-dark, 5%);
      }
    }
    .cancel {
      color: white;
      &:hover {
        color: $gray-lighter;
      }
    }
    &:hover {
      &>.remove {
        visibility: visible;
        opacity: 1;
        margin-left: 1rem;
      }
    }
  }
  .list-group-item {
    &:hover {
      .remove {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
