.score-bar-labels {

  width: 100%;
  text-align: center;

  &.table > thead > tr > th {
    width: 25%;
    text-align: center;
    border-bottom: none;
  }

  td {
    width: 25%;
  }

  .correct {
    color: $brand-success;
  }

  .leader {
    color: $brand-warning;
  }

  .current-possible {
    color: $brand-info;
  }

}

.progress {

  .progress-bar {
    height: 5px;
    border-radius: 0;
    transition: all 1s cubic-bezier(.59,.06,.16,.9);
  }

  .progress-bar-owner {
    background-color: $brand-success;
  }

  .progress-bar-leader {
    background-color: $brand-warning;
  }

  .progress-bar-possible {
    background-color: $brand-info;
  }

}
