.PageHeading {
  @media (min-width: 668px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  margin-bottom: 50px;
  width: 100%;
}

.PageHeading-text {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 1px;
}
