.Home {
  text-align: left;
}

.Home-header {
  padding: 20px;
  margin-bottom: 50px;
}

.Home-awards-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
  color: #757575;
}

.Home-main-title {
  font-size: 45px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #424242;
  margin-top: 0;
}

.Home-game-complete-message {
  font-weight: 700;
  color: #b7a261;
}

.Home-sub-title {
  font-size: 25px;
  font-weight: 400;
  color: #212121;
}

.Home-gold-text {
  color: #b7a261;
}

.Home-movie-carousel {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 350px;
  overflow: auto;
  margin-bottom: 25px;
}

.Home-movie-images {
  display: flex;
  position: absolute;
  transform: translate3d(0, 0, 0);
  left: 0;
  animation: slideshow 900s linear infinite;
}

@keyframes slideshow {
  100% {
    transform: translateX(-100%);
  }
}

.Home-nominee-poster {
  flex: 0 0 auto;
  height: 350px;
  margin: 0 5px;
  width: calc(350px * 2 / 3);
  background-size: cover;
  background-position: center;
}
