.Nominee {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex: 0 0 auto;
  height: 375px;
  width: 250px;
  background-size: cover;
  background-position: center;
  color: white;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.Nominee--unselectable {
  cursor: default;
}

.Nominee--unselectable.Nominee--not-selected {
  display: none;
}

.Nominee--unselectable.Nominee--answer {
  display: flex;
}

.Nominee:first-child {
  margin-left: 0;
}

.Nominee:last-child {
  margin-right: 0;
}

.Nominee--text-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  background-color: rgba(25, 25, 25, 0.7);
  height: 48px;
}

.Nominee--text {
  font-size: 16px;
  width: 100%;
}

.Nominee--secondary-text {
  font-size: 12px;
  width: 100%;
}

.Nominee--selected {
  width: calc(250px * 1.1);
  height: calc(375px * 1.1);
}

.Nominee--not-selected {
  filter: saturate(0) contrast(50%);
  opacity: 0.5;
}

.Nominee--answer {
  filter: contrast(150%) brightness(80%) sepia(100%);
  opacity: 1;
}