.Nominee {
  display: flex;
  align-items: flex-end;
  flex: 0 0 auto;
  height: 55vh;
  width: calc(55vh * 2/3);
  background-size: cover;
  background-position: center;
  color: white;
  margin: 0 5px;
  cursor: pointer;
  transition: all 1s ease;
}

.Nominee:first-child {
  margin-left: 0;
}

.Nominee:last-child {
  margin-right: 0;
}

.Nominee--text-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  background-color: rgba(25, 25, 25, 0.7);
  height: 48px;
}

.Nominee--text {
  font-size: 16px;
  width: 100%;
}

.Nominee--secondary-text {
  font-size: 12px;
  width: 100%;
}

.Nominee--not-selected {
  filter: saturate(0) contrast(50%);
}

.Nominee--answer {
  filter: contrast(100%) saturate(100%);
}

.Nominee--not-selected.Nominee--answer {
  filter: contrast(150%) brightness(80%) sepia(100%);
}
