.Group--game-name {
  color: #b7a261;
  margin-bottom: 0;
}

.Group--create-entry-button {
  margin-bottom: 10px;
}

@media (min-width: 680px) {
  .Group--create-entry-button {
    margin-top: 0;
    margin-right: 25px;
  }
}
